* {
  margin: 10;
  padding: 10;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(12, 11, 11);
}

.classlist {
  width: 120px;
  border: 2px solid green;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
